[submodule "vendor/glfw/glfw"]
	path = vendor/glfw/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/glm/glm"]
	path = vendor/glm/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/entt/entt"]
	path = vendor/entt/entt
	url = https://github.com/skypjack/entt.git
